<!DOCTYPE html>
<html>
<head>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>Formularz logowania</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
          type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/eapi/assets/main.css">
</head>

<body>
<div class="container">
    <img id="logo" src="/eapi/assets/logo.png">
    <div id="content" class="content">
        <form class="form" method="POST">
            <div class="form-heading">Logowanie</div>
            <li><a href="Lekarz.html" target="_blank">Lekarz</a></li>


            </li>


            <div class="form-container">
                <label for="inputEmail" class="sr-only">Adres e-mail</label>
                <input type="email" id="inputEmail" value="" class="form-control" placeholder="Adres e-mail" required autofocus name="email" autocomplete="username">
                <label for="inputPassword" class="sr-only">Hasło</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" required name="password" autocomplete="current-password">
            </div>



            <div class="action">
                <button id="submitButton" class="btn btn-lg btn-primary" type="submit">Zaloguj się</button>
            </div>
        </form>

        <div class="forgot-password">
            <a href="forgot?lang=pol">Zapomniałeś hasła?</a>
        </div>
    </div>
    </form>

    <div class="first registered">
        <a href="forgot?lang=pol">Pierwsza Rejestracja</a>
    </div>
</div>
</body>

</html>